.center{
    margin-top: 0px;
    padding-right: 2px;
}
table{
    text-align: center;
}
.row{
   
    padding-left: 250px;
}
ul {  
    background-color:black;  
  }  
    
  li {  
   text-align: center;
 padding-top:10px ;
 padding-bottom:10px ;
 padding-left:30px ;

  }  
    
  
  li a:hover {  
    background-color: grey;
   
  }  
  
  main{
    min-height: 530px;
    
   
  }
  footer{
    min-height:200px;
    width: auto;
  }
  
  
  .a{
    background-color: lightgrey;
      background-image: url("/assets/stethoscope.png");
         
          min-height: 550px;
          width: 100%;
          image-orientation: flip;
          background-repeat: no-repeat;
      
  }
  img{
    width: 100%;
    opacity: 1.0;
  }
   
 
  .marqueething{
    background-color: lightgrey;
  }
  footer{
    min-height: 77px;
    background-color:black;
  }